@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/sans/AtkinsonHyperlegible-Regular.woff") format("woff"),
        url("fonts/sans/AtkinsonHyperlegible-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Atkinson Bold";
    src: url("fonts/sans/AtkinsonHyperlegible-Bold.woff") format("woff"),
        url("fonts/sans/AtkinsonHyperlegible-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("fonts/mono/IBMPlexMono-Regular.woff") format("woff"),
        url("fonts/mono/IBMPlexMono-Regular.woff2") format("woff2");
}

body {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	padding: 8.25rem 1rem 1rem 1rem;
	margin: 0;
	background-color: rgba(25, 111, 164, 0.05);
}

.content {
	border: 1px solid rgba(0,0,0,0.1);
	max-width: 1024px;
	width: 100%;
	padding: 2rem;
	box-sizing: border-box;
	display: flex;
	flex-direction:  column;
	margin: 0 auto;
	position: relative;
	border-radius: .5rem;
	box-shadow: 0 6px 12px -6px rgba(0,0,0,0.1);
}

.content:not(.categories-list ~ .content) {
	margin-top: -2rem;
}

.content.promo {
	margin-bottom: 1rem;
	background-image: url('banner-bg.png');
	background-repeat: no-repeat;
	background-size: 240px;
	background-position-y: bottom -2rem;
	background-position-x: right;
}

.content:not(.related-articles-group.content),
.related-articles-group .article {
	background-color: white;
}

.content.promo .btn-primary {
	padding: .75rem .875rem;
}

.promo-home {
	max-width: 1440px;
}

.content.home {
	max-width: 1440px;
}

.content.promo p {
	width: 60%;
}

.content.promo .btn {
	width: fit-content;
	text-decoration: none;
}

.content.promo h2 {
	margin-top: 0;
}

.categories-list {
	position: fixed;
	top: 3.125rem;
	left: 0;
	background-color: white;
	right: 0;
	z-index: 9;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.categories-list::-webkit-scrollbar {
    display: none;
}

header {
	background-color: blue !importnt;
}

ul.categories-list {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	list-style: none;
	gap: 1.5rem;
	font-size: .875rem;
	z-index: 99;
	overflow-y: scroll;
	white-space: nowrap;
}

ul.categories-list a {
	text-decoration: none;
}

ul.categories-list a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: normal;
	font-family: 'Atkinson Bold', sans-serif;
	margin: 0;
	color: #333;
}

p, a {
	font-weight: normal;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	color: #333;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.825rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.125rem;
}

p {
	line-height: 1.5;
	font-size: 1rem;
	max-width: 640px;
}

.btn-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-top: .25rem;
}

.btn-container #close_promo {
	font-size: .875rem;
}

.btn {
	padding: .625rem .825rem;
	border: 1px solid rgba(51,51,51,1);
	border-radius: .25rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
	width: fit-content;
	font-family: 'Atkinson Bold', sans-serif;
	text-decoration: none;
}

.btn:hover {
	text-decoration: none;	
}

.btn-primary {
	background-color: #333;
	color: white;
	font-family: 'Atkinson Bold', sans-serif;
}

.content h2 {
	margin-bottom: 1rem;
}

.meta {
	font-family: 'IBM Plex Mono', monospace;
	font-size: .8125rem;
	color: #595959;
	margin: .5rem 0;
}

.meta a {
	font-family: 'IBM Plex Mono', monospace;
}

h1 + form {
	margin-top: 1rem;
}

.content h2 {
	margin-bottom: 0;
	margin-top: 2rem;
}

.label {
	font-weight: 700;
}

.metadata {
	padding: 1rem 0;
	font-size: .875rem;
}

.metadata h2 {
	font-size: 1.5rem;
	margin-bottom: .5rem;
	margin-top: 0;
}

.metadata p,
.metadata a {
	margin: .325rem 0;
	font-size: .8125rem;
	font-family: 'IBM Plex Mono', monospace;
}

header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 1.25rem 1rem;
	background-color: white;
	align-items: center;
	z-index: 999;
}

.btnIcon {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('icon-menu.png');
    min-width: 48px;
    display: none;
    padding: 0 0 0 2.5rem;
	 align-content: center;
}

header h1 {
	font-size: 1.25rem
}

header nav {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

header nav a {
	text-decoration: none;
	color: #333;
}

header nav a:hover {
	text-decoration: underline;
}

header nav ul {
	display: flex;
	list-style: none;
	gap: 1.5rem;
	font-size: .875rem;
	margin: 0;
	padding: 0;
}

header .btn {
	font-size: .875rem;
	font-family: 'Atkinson Bold', sans-serif;
}

.btn-emoji {
	transform: scale(.75);
	margin-right: .125rem;
}

label {
	font-size: 1rem;
	font-family: 'Atkinson Bold', sans-serif;
	font-weight: normal;
}

input {
	font-size: 1rem;
}

button {
	font-family: 'Atkinson Bold', sans-serif;
	padding: .625rem 1.125rem;
	font-size: 1rem;
	background-color: #333;
	border: 1px solid rgba(51,51,51,1);
	color: white;
	border-radius: .25rem;
}

input[type="checkbox"] + label {
	font-size: 1rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

input[type="checkbox"] {
	margin-bottom: .5rem;
}

input:not(input[type="checkbox"]), textarea, select {
	width: 100%;
	box-sizing: border-box;
	padding: .75rem;
	margin-bottom: 1rem;
	margin-top: .25rem;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,0.2);
}

select {
	width: initial;
	display: flex;
	background-color: white;
}

.content.register input ~ span {
	position: relative;
	top: -8px;
	font-size: .825rem;
	display: flex;
	color: darkred;
	margin-bottom: .5rem;
}

textarea {
	width: 100%;
	height: 480px;
}

.country-list {
	overflow: scroll;
	max-height: 240px;
	margin-bottom: 1rem;
	padding: .25rem 0;
}

.article {
	display: flex;
	flex-direction: column;
	margin: 1.5rem 0;
	gap: .625rem;
}

.article h2,
.article p {
	margin: 0;
}

.article h3:not(.related-x-group .article h3) {
	margin-top: 0;
	margin-bottom: .25rem;
}

.article:not(.related-articles-group .article) {
	margin-bottom: 2rem;
}

.article .drill-in {
	font-size: .825rem;
}

.article .emoji-meta {
	transform: scale(.625);
	display: inline-flex;
	margin-left: .125rem;
	position: relative;
	top: 2px;
}

.article-actions {
	display: flex;
	align-items: baseline;
	gap: .75rem;
	width: fit-content;
	position: absolute;
	top: 1rem;
	right: 1rem;
	outline: 1px solid rgba(0,0,0,0.1);
	padding: .25rem .75rem;
	border-radius: .25rem;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,.15);
}

.article-actions form {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height:  auto;
}

.article-actions a,
.article-actions button {
	text-decoration: none;
	line-height: 1;
	margin: 0;
	padding: .25rem 0;
	font-size: .825rem;
	box-sizing: border-box;
	outline: none;
	border: none;
	background-color: transparent;
	color: #595959;
	font-weight: normal;
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

button.destruct {
	color: darkred;
}

.hide {
	display: none;
}

.content ul {
	padding: 0 0 0 1rem;
	margin: .25rem 0;
	line-height: 1.5;
	margin-top: .5rem;
}

.content li {
	margin: .25rem 0;
}

.content h3:not(.related-articles-group h3) {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.content h4:not(.related-articles-group h4) {
	 margin-top: 1.5rem;
}

.article-actions a:hover,
.article-actions button:hover
{
	cursor: pointer;
	text-decoration: underline;
}

.article-content p:first-of-type {
	margin-top: .5rem;
}

.article-content ul {
	padding: 0 0 0 1rem;
}

.article-content li {
	max-width: 640px;
	margin: .5rem 0;
	line-height: 1.5;
	font-size: 1rem;
}

.content.login,
.content.register {
	max-width: 540px;
}

.content.login img,
.content.register img {
	max-width: 72px;
	margin-bottom: 1rem;
}

.content.home .meta {
	margin: 0;
}

.content.home h2 {
	margin-top: .25rem;
	font-size: 1.25rem;
	padding-bottom: 1.25rem;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.content.home {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.content.home .column {
	gap: 2rem;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.content.home .column .article {
	margin: 0;
}

.flashes {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(50%);
    z-index: 999;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: .25rem;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
    width: max-content;
    list-style: none;
    max-width: 80vw;
    opacity: 1;
    animation: fadeInMoveDown .5s ease forwards;
}

.content.settings h2 {
	margin-bottom: 1rem;
}

.cancel-edit {
	margin-top: 1rem;
}

@keyframes fadeInMoveDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOutMoveUp {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
}

.flashes {
    animation: fadeInMoveDown .5s ease forwards;
}

.flashes.fadeOut {
    animation: fadeOutMoveUp .5s ease forwards;
}

.user-info a {
    align-items: center;
    display: flex;
    gap: .5rem;
}

.related-articles-group {
	padding: 2rem 0;
}

.related-articles-group h2 {
	margin-bottom: 1.5rem;
}

.related-articles .article-row {
	display: flex;
	gap: 1rem;
	margin-bottom: 3rem;
	margin-top: 1rem;
}

.article-row .article {
	flex: 1 0 0;
	border: 1px solid rgba(0,0,0,0.1);
	padding: 1.5rem 1.25rem;
	border-radius: .25rem;
	max-width: 50%;
	box-shadow: 0 6px 12px -6px rgba(0,0,0,0.1);
	margin: 0;
}

.related-articles-group.content {
	border: none;
	box-shadow: none;
}

.related-articles:last-of-type .article:last-of-type,
.related-articles:last-of-type .article-row {
	margin-bottom: 0;
}

.list-view.content .article {
	margin-bottom: 1rem;
}

blockquote {
	border-left: 3px solid rgba(0,0,0,0.1);
	margin: 1.5rem 1rem 1.5rem 1rem;
	padding: 1rem 1rem;
	font-style: italic;
}

blockquote p {
	margin: 0;
}

.content blockquote p:first-of-type {
	margin: 0;
}

.boolean {
	margin: 1rem 0 .75rem 0;
}

.content.settings {
	max-width: 640px;
}

.content.settings textarea {
	height: 200px;
}

.content.settings button {
	background-color: white;
	color: #333;
}

.content.settings input[type="checkbox"] {
	margin-bottom: 1rem;
}

.content.settings div:first-of-type h2 {
	margin-top: 1.5rem;
}

.content input[type="file"] {
	border: none;
	padding: 0;
}

.avatar {
	max-width: 200px;
	border-radius: 50vw;
}

.avatar + h2 {
	margin-top: 1rem;
}

.team-member {
	margin: 2rem 0
}

@media only screen and (max-width: 1056px) {

	.related-articles-group {
		padding: 2rem .75rem;
	}
}

@media only screen and (max-width: 768px) {
	body {
		padding-top: 7.5rem;
	}
	
	.btnIcon {
		font-size: .875rem;
		font-family: 'Atkinson Bold',sans-serif;
		display: flex;
	}

	.show {
		display: flex;
		z-index: 999999;
	}

	header nav {
		gap: .5rem;
	}
	
	header {
		padding-top: .75rem;
		padding-bottom: .75rem;
	}
	
	.categories-list {
		top: 2.5rem;
	}
	
	header h1 {
		font-size: 1.125rem
	}

	header nav ul {
        display: none;
        position: absolute;
        background-color: white;
        top: 3.5rem;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.15);
        border-radius: .25rem;
        gap: 1.5rem;
        flex-direction: column;
        align-items: start;
    }

	.article-content blockquote p {
		padding: 0;
		margin: 1rem 0 !important;
	}

	.content h1 {
		margin-top: 1rem;
	}

    .related-articles .article-row {
			flex-direction: column;
		}
	
	.related-articles .article {
		max-width: 100%;
	}
	
	.related-articles-group {
		padding-left: 0;
		padding-right: 0;
	}
	
	.content {
		padding: 1.5rem;
	}
	
	.related-articles-group.content {
		padding-right: 0;
		padding-left: 0;
	}
	
}

@media only screen and (max-width: 640px) { 
	.content.home {
		flex-direction: column;
	}

	.content.home .column {
		width: 100%;
	}

	h1 {
	font-size: 2rem;
	}

	h2 {
		font-size: 1.625rem;
	}

	h3 {
		font-size: 1.325rem;
	}

	h4 {
		font-size: 1.125rem;
	}

	h5 {
		font-size: 1rem;
	}
	
	.content.promo {
		background-image: none;
	}

	.content.promo p {
		width: 100%;
	}
}

@media only screen and (max-width: 469px) { 
	.categories-list {
		top: 3.5rem;
	}

	body {
		padding-top: 8.5rem;
	}

}

@media only screen and (max-width: 420px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
	
	.content {
		padding: 1rem;
		border: none;
		box-shadow: none;
	}

	.content.promo {
		padding: 1.5rem 1.25rem;
		border: 1px solid rgba(0,0,0,0.1);
		width: 92vw;
		box-shadow: 0 6px 12px -6px rgba(0,0,0,0.1);
	}
	
	.related-articles-group.content {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media only screen and (max-width: 395px) { 
	header h1 {
		font-size: 1.125rem;
	}
}
