@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("fonts/sans/AtkinsonHyperlegible-Regular.woff") format("woff"),
        url("fonts/sans/AtkinsonHyperlegible-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Atkinson Bold";
    src: url("fonts/sans/AtkinsonHyperlegible-Bold.woff") format("woff"),
        url("fonts/sans/AtkinsonHyperlegible-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("fonts/mono/IBMPlexMono-Regular.woff") format("woff"),
        url("fonts/mono/IBMPlexMono-Regular.woff2") format("woff2");
}

body {
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
}

header nav {
	display: flex;
	align-items: center;
}

header nav ul {
	display: flex;
	list-style: none;
	gap: 1rem;
}

.country-list {
	max-height: 240px;	
	overflow: scroll;
}