{% extends "base.html" %}
{% block content %}
    <div class="content all-categories">
        <h1>All Categories</h1>

        <!-- Types List -->
        <h2>Types</h2>
        <ul>
            {% for atype in article_types %}
                <li><a href="{{ url_for('articles_by_type', article_type=atype.name) }}">{{ atype.name }}</a></li>
            {% endfor %}
        </ul>
        <!-- Countries List -->
        <h2>Countries</h2>
        <ul>
            {% for country in countries %}
                <li><a href="{{ url_for('articles_by_country', country=country) }}">{{ country }}</a></li>
            {% endfor %}
        </ul>

        <!-- Sources List -->
        <h2>Sources</h2>
        <ul>
            {% for source in sources %}
                <li><a href="{{ url_for('articles_by_source', source=source) }}">{{ source }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
