{% extends "base.html" %}
{% block content %}
    <div class="content list-view">
        <h1>All Articles (A-Z)</h1>
        <p class="meta">Total Articles: {{ article_count }}</p>
        {% for article in articles %}
            <div class="article">
                <h3><a href="{{ url_for('article', slug=article.slug) }}">{{ article.title }}</a></h3>
                <p class="meta">Published by <a href="{{ url_for('articles_by_author', author=article.author) }}">{{ article.author }}</a> on {{ article.publish_date.strftime('%Y-%m-%d %H:%M') }}</p>
                <p>{{ article.content[:200] }}{% if article.content|length > 200 %}...{% endif %}</p>
                <a class="drill-in" href="{{ url_for('article', slug=article.slug) }}">Read more</a>
            </div>
        {% else %}
            <p>No articles found in this category.</p>
        {% endfor %}
    </div>
{% endblock %}
