{% extends "base.html" %}
{% block content %}
    <div class="content register">
        <div class="brand"></div>
        <h1>Register</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.confirm_password.label }}
                {{ form.confirm_password(size=32) }}
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.invite_code.label }}
                {{ form.invite_code(size=32) }}
                {% for error in form.invite_code.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <a href="/login">Login</a>
    </div>
{% endblock %}
