{% extends "base.html" %}

{% block content %}
<div class="content submit-instructions">
    <h1>Data Submission</h1>
    <p>We are always open to accept data by any party. We take measures to protect the identity of our sources, even between members of the collective. Where appropriate and with well clarified authorization from the source, we may provide credit for the source of the information if we can be confident this lead to the identification of people at risk.</p>

   <p><strong>Do not contact us about potential or in-progress data breaches</strong>, as it puts you at risk and makes it difficult or impossible to determine any potential public interest while also legally preventing us from publishing any resulting leak. </p>

   <p>To make contact about a submission:</p>

   <ol>
     <li>Contact us anonymously using our GlobaLeaks instance at <span class="mono block">http://r4t6s3vzob6eidp7wg2c3smjitzusvdx2tsrt4sajwznch3dpcsvgtyd.onion/</span></li>
     <li>Email us at submissions@ddosecrets.com using the PGP key at the bottom of this page.</li>
   </ol>

   <p>Once contact has been established, communications may be moved to another secure platform, such as Cwtch.</p>
    
    <h2>Guidelines for Potential Sources</h2>
    <ul>
        <li>Be honest with yourself and with us about your level of OPSEC. If you don't know, ask. See Tools of the Trade below for more.</li>
        <li>If you can't tell the truth about something, don't say anything. False trails are harder to pull off and less helpful than you'd think - not to mention potentially unethical.</li>
        <li>It's better to be safe than clever. Silence is ubiquitous. Jokes, references, and even persona aliases can be as revealing as true names.</li>
        <li>Don't talk about it, even "in private." If you do, assume that whatever you say might leak and know that it could be read in a courtroom.</li>
        <li>Don't save logs. If you must save records for legal defense reasons, give your only copies to your lawyer for that explicit purpose. Don't destroy evidence - just don't have evidence to preserve or destroy.</li>
        <li>Don't keep a copy of whatever you leaked, or anything else you don't need anymore. Even PGP and other encryption keys can be incriminating.</li>
        <li>You almost definitely don't need to be able to prove it was you.</li>
        <li>Be patient.</li>
        <li>Assume your adversaries are smarter than you are.</li>
        <li>When in doubt, talk to a lawyer.</li>
    </ul>

    <h2>Tools of the Trade</h2>
    <ul>
        <li>Tor Browser - Anonymous web browsing</li>
        <li>OnionShare - Anonymous one-off file sharing</li>
        <li>Pidgin & OTR - Live IRC/XMPP chat with Off the Record encryption [EFF Guide]</li>
        <li>Tails - An anonymous, non-persistent Operating System</li>
        <li>Riseup - A privacy-friendly email and VPN provider</li>
        <li>EFF Surveillance Self-Defense Guides - A fantastic collection of guides to resist surveillance</li>
        <li>The Intercept Surveillance Self-Defense Checklist - Steps journalists, activists, and everyone else can take to improve their security</li>
    </ul>

    <h3>Browsers and Plug-ins</h3>

    <ul>
        <li>Disconnect - A plug-in to block malicious internet tracking, ads, and other web content</li>
        <li>Privacy Badger - A browser extension that automatically learns to block invisible trackers</li>
        <li>Tor Browser - Anonymous web browsing</li>
        <li>uBlock Origin - A wide-spectrum content blocker with CPU and memory efficiency as a primary feature</li>
    </ul>

    <h3>Communication</h3>
    <ul>
        <li>DKIM Verifier - A Thunderbird plug-in which verifies the DKIM Signature of emails</li>
        <li>Pidgin & OTR - Live IRC/XMPP chat with Off the Record encryption [EFF Guide]</li>
        <li>Riseup - A privacy-friendly email and VPN provider</li>
        <li>Signal - A secure text messaging service, recommended for daily use</li>
        <li>Thunderbird - An open-source email client</li>
    </ul>

    <h3>Encryption and Passwords</h3>
    <ul>
        <li>KeePass - An open-source, encrypted password manager with ports for many operating systems</li>
        <li>OpenPGP - The most widely used email encryption standard</li>
        <li>VeraCrypt - Free open source disk encryption software</li>
    </ul>

    <h3>Handling Data</h3>

    <ul>
        <li>7zip - A versatile tool for compressing and extracting data for Windows</li>
        <li>Dangerzone - Convert potentially dangerous PDFs, office documents, or images to safe PDFs</li>
        <li>ImportExportTools NG - A free Thunderbird extension for importing and exporting MBOX and EML emails</li>
        <li>Keka - A versatile tool for compressing and extracting data for MacOS</li>
        <li>pst-utils - Free linux tools to read and convert Microsoft Outlook PST files</li>
        <li>Qubes OS - A reasonably secure operating system</li>
        <li>Web Translate - A free Thunderbird extension for translating emails</li>
    </ul>

    <h3>Torrents</h3>

    <ul>
        <li>Deluge - A free, versatile, cross-platform torrent client</li>
        <li>Seedboxes - Rentable, high-bandwidth servers for uploading and downloading files</li>
        <li>Transmission - A free, simple and stable cross-platform torrent client</li>
    </ul>

    <h3>Tips</h3>
    
    <h4>Use seedboxes as sandboxes</h4>

    <p>Seedboxes not only offer a way to more quickly and discretely download data, some also offer remote desktop access (or SSH access and the opportunity to install your own remote desktop client). This allows users to access the data directly on the seedbox, without having to open it on a local machine, both cutting down on the time required to access it, and reducing the risk. </p>

    <h3>SecureDrop</h3>

    <p>In late 2020, the Institute of Quantitative Social Science at Harvard University appointed DDoSecrets member Milo Trujillo as a graduate student affiliate. The IQSS operate the first SecureDrop at a United States academic institution. We can now recommend their secure dropbox to our sources. DDoSecrets researchers are collaborating with IQSS social scientists to create public good using available data.</p>

    <h2>Request Access</h2>

    <p>Some of our data sets must first be requested before we can provide access. To request access, email press@ddosecrets.com or open a ticket and:</p>

    <ul>
        <li>Explain why access to the material is needed and what you intend to do with it.</li>
        <li>Include enough information to verify your credentials or purpose.</li>
        <li>If you intend to reproduce any data, explain how it will be reproduced and who it will be shared with.</li>
    </ul>

    <p>Our replies to Hotmail, Outlook, MSN and other Microsoft-based email addresses often bounce. Using other email services is recommended.</p>

    <p>Your request will be rejected if:</p>

    <ul>
        <li>You don't provide a way to verify your request or identity.</li>
        <li>You're just curious.</li>
        <li>You're a hacktivist that wants to exploit the data.</li>
        <li>You're a researcher without a clear journalist or academic project.</li>
        <li>You offer only generic information.</li>
        <li>You email the wrong address or multiple addresses.</li>
    </ul>

    <p><strong>Due to limited time, we are unable to respond to rejected requests. </strong></p>

    <h2>Contact Methods</h2>

    <h3>Email</h3>

    <p>Direct addresses can be found for some members on the Team page.</p>

    <p>Instructions to request access to data can be found above.</p>

    <p>Replies to Hotmail, Outlook, MSN and other Microsoft-based email addresses often bounce. Please don't use Hotmail or Outlook email addresses to contact us as we will not be able to respond.</p>

    <p>For general contact and inquiries (PGP key below):</p>

    <p class="mono block">info@ddosecrets.com</p>

    <p>For press matters: </p>

    <p class="mono block">press@ddosecrets.com</p>

    <p>For sources making contact (PGP key below): </p>

    <p class="mono block">submissions@ddosecrets.com</p>

    <p>If you need to contact us via an alternative method, it is recommended that you use a temporary email address to get in touch with us and setup alternative channels. </p>

    <h3>PGP Keys</h3>

    <p>If you want to encrypt your communications to info@ddosecrets.com, you can use the PGP key found with Fingerprint: <a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x9EBBA5E1892093A0">F9E6 FB72 DF79 3BCC 998E A465 9EBB A5E1 8920 93A0</a>.</p>

    <p>If you want to encrypt your communications to submissions@ddosecrets.com, you can use the PGP key found with Fingerprint:<a href=http://pgp.mit.edu/pks/lookup?op=get&search=0xD014A285CD88EB0F"">3964 EC1C A184 F18B 1C2D 0261 D014 A285 CD88 EB0F</a></p>
