{% extends "base.html" %}
{% block title %}Approve Articles{% endblock %}

{% block content %}
<div class="content">
    <h1>Approve Articles</h1>
    <p class="meta">Total Articles: {{ article_count }}</p>
    {% if articles %}
        {% for article in articles %}
            <div class="article">
                <h3><a href="{{ url_for('article', slug=article.slug) }}">{{ article.title }}</a></h3>
                <p class="meta">Submitted by <a href="{{ url_for('articles_by_author', author=article.author) }}">{{ article.author }}</a> on {{ article.publish_date.strftime('%Y-%m-%d %H:%M') }}</p>
                <p>{{ article.content[:200] }}{% if article.content|length > 200 %}...{% endif %}</p>

                <!-- ARTICLE ACTIONS -->
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <div class="article-actions">
                        <form action="{{ url_for('approve_article', slug=article.slug) }}" method="post">
                            <button type="submit" class="btn btn-primary">Approve</button>
                        </form>
                        <a href="{{ url_for('edit_article', slug=article.slug) }}">Edit Article</a>
                        <form action="{{ url_for('delete_article', article_id=article.id) }}" method="post">
                            <button type="submit" class="destruct delete-article-button">Delete Article</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No articles pending approval.</p>
    {% endif %}
</div>
{% endblock %}
