<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Distributed Denial of Secrets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Distributed Denial of Secrets</h1>
        <nav>
            <a class="mobileNav btnIcon" aria-label="Navigation menu">Menu</a>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('publish') }}">Publish</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="https://shop.scidsg.org/collections/ddos">Shop</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
            <a class="btn btn-primary" href="https://ddosecrets.charity" target="_blank" rel="noopener noreferrer">❤️ Donate</a>
        </nav>
    </header>

    <main>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if request.endpoint not in ['login', 'register', 'publish', 'edit_article'] %}
            <div class="content promo" id="promo">
                <h2>We need your help!</h2>
                <p>We are the most important and most active public library of hacked and leaked datasets in the world today, but we're completely out of money. If we don't raise $150,000 by January 31, 2024, we might be forced to suspend operations.</p>
                <div class="btn-container">
                    <a class="btn btn-primary" href="https://we.charity" target="_blank" rel="noopener noreferrer">❤️ Donate Now</a>
                    <a href="#" id="close_promo">Close</a>
                </div>
            </div>
        {% endif %}
        
        <!-- Categories List -->
        {% if request.endpoint not in ['login', 'register', 'article', 'publish', 'edit_article'] %}
            <ul class="categories-list">
                {% for scope in all_scopes %}
                    <li>
                        {% if scope.type == 'type' %}
                            <a href="{{ url_for('articles_by_type', article_type=scope.name) }}">{{ scope.name }}</a>
                        {% elif scope.type == 'country' %}
                            <a href="{{ url_for('articles_by_country', country=scope.name) }}">{{ scope.name }}</a>
                        {% elif scope.type == 'source' %}
                            <a href="{{ url_for('articles_by_source', source=scope.name) }}">{{ scope.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                <li><a href="{{ url_for('all_categories') }}">All</a></li>
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        
    </footer>

    <!-- Add your JavaScript files here -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
