<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Distributed Denial of Secrets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Distributed Denial of Secrets</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('publish') }}">Publish</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flashes {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        <!-- Categories List -->
        {% if show_categories %}
            <ul class="categories-list">
                {% for scope in all_scopes %}
                    <li>
                        {% if scope.type == 'type' %}
                            <a href="{{ url_for('articles_by_type', article_type=scope.name) }}">{{ scope.name }}</a>
                        {% elif scope.type == 'country' %}
                            <a href="{{ url_for('articles_by_country', country=scope.name) }}">{{ scope.name }}</a>
                        {% elif scope.type == 'source' %}
                            <a href="{{ url_for('articles_by_source', source=scope.name) }}">{{ scope.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                <li><a href="{{ url_for('all_categories') }}">All</a></li>
            </ul>
        {% endif %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        
    </footer>

    <!-- Add your JavaScript files here -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
