{% extends "base.html" %}
{% block content %}
    <div class="content">
        <h1>Edit Article</h1>
        <form action="{{ url_for('edit_article', article_id=article.id) }}" method="post">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="{{ article.title }}" required>
            </div>
            <div>
                <label for="content">Content:</label>
                <textarea id="content" name="content" required>{{ article.content }}</textarea>
            </div>
            <div class="country-list">
                <label>Countries:</label>
                {% for country in countries %}
                <div>
                    <input type="checkbox" id="country-{{ country }}" name="countries" value="{{ country }}" {% if country in selected_countries %}checked{% endif %}>
                    <label for="country-{{ country }}">{{ country }}</label>
                </div>
                {% endfor %}
            </div>
            <div>
                <label for="type">Type:</label>
                <select id="type" name="type">
                    {% for type in article_types %}
                    <option value="{{ type }}" {% if article.article_type == type %}selected{% endif %}>{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="download_link">Download Link:</label>
                <input type="text" id="download_link" name="download_link" value="{{ article.download_link }}">
            </div>
            <!-- Magnet Link -->
            <div>
                <label for="magnet_link">Magnet Link:</label>
                <input type="text" id="magnet_link" name="magnet_link" value="{{ article.magnet_link }}">
            </div>

            <!-- Torrent Link -->
            <div>
                <label for="torrent_link">Torrent Link:</label>
                <input type="text" id="torrent_link" name="torrent_link" value="{{ article.torrent_link }}">
            </div>
            <button type="submit">Update Article</button>
        </form>
        <a href="{{ url_for('article', article_id=article.id) }}">Cancel</a>
    </div>
{% endblock %}
