{% extends "base.html" %}
{% block title %}Publish an Article{% endblock %}

{% block content %}
    <div class="content">
        <h1>Publish New Article</h1>
        <form action="{{ url_for('publish') }}" method="post">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="content">Content</label>
                <textarea id="content" name="content" required></textarea>
            </div>
            <div>
                <label for="author">Author</label>
                <!-- Make the author field disabled -->
                <input type="text" id="author" name="author" value="{{ current_user.username }}" readonly>
            </div>

            <div>
                <label for="source">Source</label>
                <input type="text" id="source" name="source">
            </div>

            <!-- Country Selection -->
            <label>Countries</label>
            <div class="country-list">
                {% for country in countries %}
                <div>
                    <input type="checkbox" id="country-{{ country }}" name="countries" value="{{ country }}">
                    <label for="country-{{ country }}">{{ country }}</label>
                </div>
                {% endfor %}
            </div>

            <!-- Article Type Selection -->
            <div>
                <label for="type">Type</label>
                <select id="type" name="type">
                    {% for type in article_types %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Cyberwar Checkbox -->
            <div>
                <label for="cyberwar">Cyberwar</label>
                <input type="checkbox" id="cyberwar" name="cyberwar">
            </div>

            <!-- Download Link -->
            <div>
                <label for="download_link">Download Link</label>
                <input type="text" id="download_link" name="download_link">
            </div>

            <!-- Magnet Link -->
            <div>
                <label for="magnet_link">Magnet Link</label>
                <input type="text" id="magnet_link" name="magnet_link">
            </div>

            <!-- Torrent Link -->
            <div>
                <label for="torrent_link">Torrent Link</label>
                <input type="text" id="torrent_link" name="torrent_link">
            </div>

            <!-- IPFS Link -->
            <div>
                <label for="ipfs_link">IPFS Link</label>
                <input type="text" id="ipfs_link" name="ipfs_link">
            </div>

            <!-- Download Size -->
            <div>
                <label for="download_size">Download Size</label>
                <input type="text" id="download_size" name="download_size">
            </div>

            <!-- External Collaboration Link -->
            <div>
                <label for="external_collaboration">External Collaboration URL</label>
                <input type="text" id="external_collaboration" name="external_collaboration">
            </div>

            <div>
                <button type="submit">Publish Article</button>
            </div>
        </form>
{% endblock %}
