{% extends "base.html" %}
{% block content %}
    <div class="content">
        <h2>Register</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </div>
            <div>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}<br>
                {% for error in form.confirm_password.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock %}
