{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="content settings">
    <h1>Settings</h1>

    <!-- TEAM PAGE CONSENT -->
    
    <div>
        <h2>Team Page Settings</h2>
        <form action="{{ url_for('user_settings') }}" method="post">
            {{ team_page_form.hidden_tag() }}
            <div>
                {{ team_page_form.include_in_team_page.label }}
                {{ team_page_form.include_in_team_page() }}
            </div>
            <div>
                <button type="submit" name="submit_team">Update Team Setting</button>
            </div>
        </form>
    </div>

    <!-- DISPLAY NAME -->

    <div>
        <h2>Display Name</h2>
        <form action="{{ url_for('user_settings') }}" method="post">
            {{ display_name_form.hidden_tag() }}
            <div>
                {{ display_name_form.display_name.label }}
                {{ display_name_form.display_name() }}
            </div>
            <div>
                <button type="submit" name="submit_display_name">Update Display Name</button>
            </div>
        </form>
    </div>

    <!-- AVATAR UPLOAD -->

    <div>
        <h2>Upload Avatar</h2>
        <form action="{{ url_for('user_settings') }}" method="post" enctype="multipart/form-data">
            {{ avatar_form.hidden_tag() }}
            <div>
                {{ avatar_form.avatar.label }}
                {{ avatar_form.avatar() }}
                {% for error in avatar_form.avatar.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <button type="submit" name="submit_avatar">Upload Avatar</button>
            </div>
        </form>
    </div>

    <!-- USER BIO -->

    <div>
        <h2>Biography</h2>
        <form action="{{ url_for('user_settings') }}" method="post">
            {{ bio_form.hidden_tag() }}
            <div>
                {{ bio_form.bio.label }}
                {{ bio_form.bio() }}
            </div>
        <div>
            <button type="submit" name="submit_bio">Update Bio</button>
        </div>
        </form>
    </div>

    <!-- CUSTOM URL -->

    <div>
        <h2>Personal URL</h2>
        <form action="{{ url_for('user_settings') }}" method="post">
            {{ custom_url_form.hidden_tag() }}
            <div>
                {{ custom_url_form.custom_url.label }}
                {{ custom_url_form.custom_url() }}
            </div>
            <div>
                <button type="submit" name="submit_custom_url">Update Personal URL</button>
            </div>
        </form>
    </div>


    <!-- CHANGE PASSWORD -->

    <div>
        <h2>Change Password</h2>
        <form action="{{ url_for('user_settings') }}" method="post">
            {{ password_form.hidden_tag() }}
            <div>
                {{ password_form.current_password.label }}
                {{ password_form.current_password() }}
                {% for error in password_form.current_password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ password_form.new_password.label }}
                {{ password_form.new_password() }}
                {% for error in password_form.new_password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ password_form.confirm_new_password.label }}
                {{ password_form.confirm_new_password() }}
                {% for error in password_form.confirm_new_password.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <button type="submit" name="submit_password">Update Password</button>
            </div>
        </form>
    </div>

    <a class="logout" href="{{ url_for('logout') }}">Logout</a>

</div>
{% endblock %}
